*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: auto;
  width: 500px;
  background: #0c1525;
  color: #fff;
}

nav{
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

li{
  padding: 10px 25px;
  background: rgb(43, 51, 85);
  list-style-type: none;
}

.box-head{
  display: flex;
  align-items: center;
  gap: 15px;
  background: #133b5f;
}

.box-img{
  background: rgb(43, 47, 58);
  height: 300px;
}

.box-img img{
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.profile{
  height: 50px;
  width: 50px;
  background: #353535;
  border-radius: 50%;
  margin: 8px;
}

.profile img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.box{
  width: 100%;
  background: #ccc;
  margin: 15px 0;
}
